     h2{
    color:rgb(5,180,74);

       }
       p {
           color:pink;
           background-color:green;
        
        } 

       
    button {
        color:white;
        background-color:#1a4ada;}



    